<div id="modalError" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title text-danger"><strong>Error</strong></h4>
            </div>
            <div class="modal-body">
                <p><strong>{{status}}</strong> {{statusText}}</p>
            </div>
        </div>
    </div>
</div>